<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Career Highlights</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014-16</h4>
                                    <h4 class="subheading">GIS Technician/Web Development</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Between 2014-2016, I worked as a GIS Technician and obtained a certificate in front-end web development.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017-2020</h4>
                                    <h4 class="subheading">Tech Workshops</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I worked as a programming and data specialist, teaching a variety of tech workshops through the startup STEM Learning Lab. Courses I taught included introductory web development, Python scripting, wearable tech, Raspberry Pi programming, and a high-school computer science course.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017-present</h4>
                                    <h4 class="subheading">GIS Consultant</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Since 2017, I have worked as a GIS consultant for a variety of environmental organizations and initiatives including West Coast Aquatic and MakeWay's Atl’ka7tsem/Howe Sound conservation web map.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2020-present</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I currently work as a Technical Analyst at Benevity, a software company specializing in charitable giving. My responsibilities include building data transformations (ETLs), configuring Single Sign-On (SS0) access, configuring Workday data integrations, and managing file encryption and transfer systems.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
